
body{
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
h1{ 
color:white;
font-size:32px;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: center;
  color: white;
  text-align: center;
  padding: 25px 50px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: black;
  color: white;
}

.topnav a.active {
  background-color: black;
  color: white;
}

{
background-color:white;
}

#clock {
  font-size: 25px;
  font-family: Arial;
  width: 240px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}


.column {
  float: left;
  width: 33.33%;
  padding: 85px;
}

.row::after {
  clear: both;
  display: table;
}

.column {
  float: left;
  width: 33.33%;
  padding:85px;
}

.row::after {
  clear: both;
  display: table;
}


footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
}
